main .contacts {
  padding: 60px 20px 195px 67.5%;
  @include media-tablet {
    padding: 50px 159px 111px;
  }
  @include media-big-phone {
    padding: 5% 10% 10%;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  background: url('../assets/images/contacts-bg.jpg') no-repeat;
  @include media-tablet {
    background: url('../assets/images/contacts-bg-tablet.jpg') left/ contain no-repeat;
  }

  .contacts__title {
    text-align: left;
    margin: 0 0 40px;
    @include media-tablet {
      text-align: center;
      margin: 0 0 34px !important;
    }
    @include media-big-phone {
      margin: 0 !important;
    }
    @include media-bigger-mobile-L {
      font-size: 25px;
    }
  }
}
