// colors
$bg-color: #000000;
$text-color: #ffffff;
$main-color: #BDAE82;
$text-color-light: #1C1C1C;

// fonts
$text-font: 'Inter', sans-serif;
$heading-font: 'Merriweather', serif;

// sizes
$desktop-width: 1440px;
$bigger-laptop-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
$big-phone-width: 620px;
$bigger-mobile-L-width: 480px;
$mobile-L-width: 425px;
$mobile-M-width: 375px;


// other
$main-transition: all .3s linear;
$header-height: 90px;
